.photo {
  &:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: span 2;
  }

  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;

  img {
    grid-area: 1 / 1;
  }

  &:hover .visualizations {
    display: flex;
  }
}

.visualizations {
  grid-area: 1 / 1;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;

  &::before {
    width: 16px;
    height: 10px;
    content: '';
    display: inline-block;
    margin-right: 0.25rem;
    background: url('../../assets/visualizacao.svg') no-repeat;
  }
}

@media (max-width: 40rem) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}
